<header>
  <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
    <div class="container">
      <a [routerLink]="['/home']"><img src="assets/pnlp-network-logo.png" alt="pulp logo" height="30px" /></a>
      <button
        class="navbar-toggler"
        type="button"
        aria-controls="navbar-menu"
        aria-label="Toggle navigation"
        (click)="toggleMenu()"
        [attr.aria-expanded]="!menuHidden"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
        <div class="navbar-nav ml-auto">
          <app-language-selector inNavbar="true" menuClass="dropdown-menu dropdown-menu-righ"> </app-language-selector>

          <div *ngIf="ethFriendlyName$ | async" class="nav-item mr-1" ngbDropdown>
            <a id="account-dropdown" class="nav-link btn btn-secondary" ngbDropdownToggle>
              {{ ethFriendlyName$ | async }}
            </a>
            <div ngbDropdownMenu aria-labelledby="account-dropdown" class="dropdown-menu bg bg-secondary text-primary">
              <button
                class="dropdown-item btn btn-secondary text-primary"
                *ngFor="let publication of myPublications$ | async"
                [routerLink]="['/pnlp', (publication | async)?.slug]"
              >
                {{ publication }}
              </button>
              <button
                *ngIf="nerdMode$ | async"
                class="dropdown-item btn btn-secondary text-primary"
                (click)="setNerdMode(false)"
              >
                Hide Blockchain Info
              </button>
              <button
                *ngIf="!(nerdMode$ | async)"
                class="dropdown-item btn btn-secondary text-primary"
                (click)="setNerdMode(true)"
              >
                Show Blockchain Info
              </button>
              <button class="dropdown-item btn btn-secondary text-primary" (click)="signout()">
                Sign Out
              </button>
            </div>
          </div>

          <div class="nav-item mr-1" *ngIf="!(ethFriendlyName$ | async)">
            <button type="button" class="btn btn-primary" (click)="signin()">Sign In</button>
          </div>

          <div class="nav-item" *ngIf="!(ethFriendlyName$ | async)">
            <a class="btn btn-secondary btn-md" [routerLink]="['about']" role="button">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
