<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a [routerLink]="['/home']"><img src="assets/pnlp.png" alt="pulp logo" height="30px" /></a>
      <button
        class="navbar-toggler"
        type="button"
        aria-controls="navbar-menu"
        aria-label="Toggle navigation"
        (click)="toggleMenu()"
        [attr.aria-expanded]="!menuHidden"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
        <div class="navbar-nav ml-auto">
          <app-language-selector inNavbar="true" menuClass="dropdown-menu dropdown-menu-right"></app-language-selector>

          <div *ngIf="ethAddress$ | async" class="nav-item mr-1" ngbDropdown>
            <a id="account-dropdown" class="nav-link" ngbDropdownToggle>
              {{ (ethAddress$ | async)?.slice(0, 10) + '...' }}
            </a>
            <div ngbDropdownMenu aria-labelledby="account-dropdown" class="dropdown-menu">
              <button
                class="dropdown-item"
                *ngFor="let publication of myPublications$ | async"
                [routerLink]="['/pnlp', (publication | async)?.slug]"
              >
                {{ publication }}
              </button>
              <button class="dropdown-item" (click)="signout()">
                Sign Out
              </button>
            </div>
          </div>

          <div class="nav-item mr-1" *ngIf="!(ethAddress$ | async)">
            <button type="button" class="btn btn-light" (click)="signin()">Sign In</button>
          </div>

          <div class="nav-item" *ngIf="!(ethAddress$ | async)">
            <a class="btn btn-primary btn-md" href="/" role="button">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
