.article-title {
  font-size: 1.4rem !important;
}

.article-secondary {
  font-size: 1.1rem !important;
}

.article-tertiary {
  font-size: 0.9rem !important;
}

.article-metadata {
  font-size: 0.8rem !important;
}

.article-block:hover {
  background-color: #23285507;
}
