<app-loader *ngIf="isLoading"></app-loader>
<app-error [error]="error"></app-error>

{{ publication$ | async | json }}

<div class="mt-4 d-flex justify-content-center" *ngIf="!isLoading && !error">
  <div *ngIf="publication$ | async" class="flex-grow-1">
    <div class="d-flex justify-content-between">
      <div>
        <div class="lead">
          {{ (publication$ | async)?.name }}
        </div>
        <div class="small text-muted mb-3">
          {{ (publication$ | async)?.description }}
        </div>
      </div>
      <div>
        <button
          type="submit"
          class="btn btn-primary"
          [routerLink]="'/write'"
          [queryParams]="{ publication: publicationSlug }"
        >
          Start Writing
          <!-- TODO:SVGS: consolidate these -->
          <svg
            width="1.5em"
            height="1.5em"
            viewBox="0 0 16 16"
            class="bi bi-arrow-right"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"
            />
            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z" />
          </svg>
        </button>
      </div>
    </div>

    <div class="list-group" *ngIf="!error">
      <a
        *ngFor="let article of articles$ | async"
        class="list-group-item list-group-item-action"
        [routerLink]="[article.slug]"
      >
        <div class="d-flex w-100 justify-content-between">
          <span>
            {{ article?.title }}
          </span>
          <small> IPFS: {{ article?.ipfs_address }} </small>
        </div>
      </a>
    </div>

    <div *ngIf="!(publication$ | async)?.articles?.length" class="text-center">
      <img src="assets/pnlp-logo-grey@190.png" alt="pulp logo" height="190px" />
      <div class="lead text-muted">There are no articles here yet</div>
    </div>
  </div>
</div>
