<div *ngIf="article">
  <div class="d-flex justify-content-between">
    <div>
      <div class="lead article-title">
        {{ article.content?.title }}
      </div>
      <div class="lead article-subtitle">
        {{ article.content.subtitle }}
      </div>
      <div *ngIf="article?.author" class="text-muted">
        By:
        <a [href]="'https://' + etherscanDomain + '/address/' + article?.author" class="text-info" target="_blank">{{
          author_alias ? author_alias : article?.author
        }}</a>
      </div>
      <div *ngIf="(nerdMode$ | async) && summary?.tx" class="small text-muted">
        <a [href]="'https://' + etherscanDomain + '/tx/' + summary?.tx" class="text-info" target="_blank"
          >proof-of-existence: {{ summary?.tx }}</a
        >
      </div>
      <div *ngIf="(nerdMode$ | async) && summary?.ipfs_address" class="small text-muted">
        <a [href]="'https://explore.ipld.io/#/explore/' + summary?.ipfs_address" class="text-info" target="_blank"
          >location: ipfs/{{ summary?.ipfs_address }}</a
        >
      </div>
    </div>
    <div>
      <img src="assets/pnlp-network-logo-grey.png" alt="pulp logo" height="80px" />
    </div>
  </div>

  <hr class="my-4" />

  <markdown preserveWhitespaces emoji katex [data]="article.content.body"></markdown>

  <hr class="my-4" />

  <div class="text-center mb-5">
    <small>{{ preview ? 'to be' : '' }} published on the distributed web using the pulp protocol</small>
  </div>
</div>
