<div class="jumbotron bg-white text-left">
  <div>
    <h2>
      The Publishing Platform of the Distributed Web
    </h2>
  </div>
  <hr class="my-4" />
  <div class="text-left">
    <h4>For Authors</h4>
    <p class="lead">
      Write and publish on the distributed web. Assemble a following and earn money from your readership.
    </p>
    <p class="lead">
      Your authorship stands alone: no editorial oversight, restrictive platform policies, or government censorship.
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">Start Publishing</a>
    </p>
  </div>
  <div class="text-right">
    <h4>For Readers</h4>
    <p class="lead">Browse the best writing on the distributed web. Support the authors you value most.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">Browse Publications</a>
    </p>
  </div>
</div>
