<div>
  <h2>
    The Publishing Platform of the Distributed Web
  </h2>
</div>
<hr class="my-4" />
<div class="text-left">
  <h4>For Authors</h4>
  <p class="lead">
    Write and publish on the distributed web. Assemble a following and earn money from your readership.
  </p>
  <p class="lead">
    Your authorship stands alone: no heavy-handed editorial oversight, no restrictive content policies, no government
    censorship.
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-md" [routerLink]="['/new']" role="button">Start Publishing</a>
  </p>
</div>
<div class="text-right">
  <h4>For Readers</h4>
  <p class="lead">Browse the best writing on the distributed web. Support the authors you value most.</p>
  <p class="lead">
    Open environments give rise to ideology that is more robust and less brittle. Unfiltered opinion matters.
  </p>
  <p class="lead">
    <!-- TODO:ROPSTEN-MAINNET: change this to mainnet link -->
    <!-- this is somewhat tongue in cheek... we don't have an index of publications yet so we send the user to the contract address... -->
    <a
      class="btn btn-primary btn-md"
      href="https://ropsten.etherscan.io/address/0x88d632d0266ce47608fae77ff4d37344fe562f12"
      target="_blank"
      role="button"
      >Browse Publications</a
    >
  </p>
</div>
