<div>
  <h2 class="mt-4 text-center">
    Welcome to the Distributed Publishing Platform
  </h2>
</div>
<div class="text-center mt-4">
  pnlp is a publishing protocol built on Ethereum and IPFS
</div>
<div class="mt-4 text-center">
  pnlp is running in beta. We are actively building and looking for feedback. If you're an Author, don't hesitate to
  reach out!
</div>
<div class="mt-4 text-center">
  <a class="btn btn-primary btn-md" href="https://linktr.ee/pulp_network" target="_blank" role="button">Contact</a>
</div>
