<div class="mt-4 d-flex justify-content-center" *ngIf="!error">
  <div *ngIf="!isLoading" class="flex-grow-1">
    <div *ngIf="!previewMode">
      <div class="text-muted lead mb-4">
        <button type="button" class="btn btn-light" [routerLink]="['/pnlp', (publication$ | async)?.subdomain]">
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-arrow-left-short"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"
            />
            <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
          </svg>
          {{ (publication$ | async)?.metadata?.name }}
        </button>
      </div>

      <form [formGroup]="articleForm">
        <div class="form-group">
          <label class="text-muted small sr-only" for="article-title">Title</label>
          <input
            type="text"
            class="form-control form-control-lg"
            name="article-title"
            id="article-title"
            placeholder="Title..."
            formControlName="titleControl"
            required
          />
        </div>

        <div class="form-group">
          <label class="text-muted small sr-only" for="article-subtitle">Subtitle</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="article-subtitle"
            id="article-subtitle"
            placeholder="Subtitle..."
            formControlName="subtitleControl"
          />
        </div>

        <div class="form-group">
          <md-editor
            name="Body"
            [(ngModel)]="body"
            [height]="'400px'"
            mode="editor"
            [options]="editorOptions"
            maxlength="100000"
            [ngModelOptions]="{ standalone: true }"
          >
          </md-editor>
        </div>

        <!-- TOOD: 2 create article-view component and article-reader that accepts the article as input -->
        <!-- TOOD: 3 re-use that component and toggle it with the preview/edit buttons -->
        <!-- TOOD: 4 fix errors (make them more general or make them more flexible) -->

        <div class="form-group">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="article-index-desc"
                >https://{{ (publication$ | async)?.subdomain }}.on.pnlp.network/</span
              >
            </div>
            <input
              type="text"
              class="form-control"
              formControlName="indexControl"
              required
              id="article-index"
              aria-describedby="article-index-desc"
            />
          </div>
          <div>
            <small class="form-text text-muted" *ngIf="showIndexError; else empty">
              {{ indexError }}
            </small>
            <ng-template #empty><small>&emsp;</small></ng-template>
          </div>
        </div>

        <div class="mt-4">
          <button
            class="btn btn-secondary btn-block btn-lg"
            (click)="togglePreviewMode()"
            [disabled]="!articleForm.valid || isCreating"
          >
            Preview
          </button>
        </div>

        <div class="mt-1">
          <button
            type="submit"
            class="btn btn-primary btn-block btn-lg"
            (click)="submit()"
            [disabled]="!articleForm.valid || isCreating"
          >
            {{ isCreating ? 'Publishing...' : 'Publish' }}
          </button>
        </div>
      </form>
    </div>

    <div *ngIf="previewMode">
      <div class="d-flex justify-content-between">
        <button type="button" class="align-self-center btn btn-light" (click)="togglePreviewMode()">
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-arrow-left-short"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"
            />
            <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
          </svg>
          Continue Editing
        </button>

        <button type="button" class="align-self-center btn btn-primary" (click)="submit()">
          Publish
        </button>
      </div>

      <div class="row mt-2">
        <div class="col">
          <hr />
        </div>
        <div class="col-auto text text-sm text-muted">
          https://{{ (publication$ | async)?.subdomain }}.on.pnlp.network/{{ previewArticle.index }}
        </div>
        <div class="col mb-2">
          <hr />
        </div>
      </div>

      <app-article-reader [article]="previewArticle" [preview]="true"></app-article-reader>
    </div>
  </div>

  <div *ngIf="isLoading" class="mt-5">
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div *ngIf="error" class="alert alert-light text-center" role="alert">
  <div class="mb-3">
    <svg
      width="10em"
      height="10em"
      viewBox="0 0 16 16"
      class="bi bi-patch-question-fll"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M5.933.87a2.89 2.89 0 0 1 4.134 0l.622.638.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636zM7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm1.602-2.027c-.05.386-.218.627-.554.627-.377 0-.585-.317-.585-.745v-.11c0-.727.307-1.208.926-1.641.614-.44.822-.762.822-1.325 0-.638-.42-1.084-1.03-1.084-.55 0-.916.323-1.074.914-.109.364-.292.51-.564.51C6.203 6.12 6 5.873 6 5.48c0-.251.045-.468.139-.69.307-.798 1.079-1.29 2.099-1.29 1.341 0 2.262.902 2.262 2.227 0 .896-.376 1.511-1.05 1.986-.648.445-.806.726-.846 1.26z"
      />
    </svg>
  </div>
  <div class="lead">
    There is no publication named <b>{{ publicationSubdomain }}</b> or we had trouble loading it.
  </div>
</div>
